/* pour la grille des rubriques dans l'accueil
c'est très artisanal */


.realisations_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/*images utilisées */
.icon_grid_portfolio1{
    background-image: url("../icons/grid_portfolio/moteur1_3.jpg");
}
.icon_grid_portfolio2{
    background-image: url("../icons/grid_portfolio/timeline1.jpg");
}
.icon_grid_portfolio3{
    background-image: url("../icons/grid_portfolio/htmlcss_icon.jpg");
}
.icon_grid_portfolio4{
    background-image: url("../icons/grid_portfolio/virtualtour_ecole_high.jpg");
}
.icon_grid_portfolio5{
    background-image: url("../icons/grid_portfolio/design.jpg");
}
.icon_grid_portfolio6{
    background-image: url("../icons/grid_portfolio/solartree.jpeg");
}


.icon_grid_portfolio1,
.icon_grid_portfolio2,
.icon_grid_portfolio3,
.icon_grid_portfolio4,
.icon_grid_portfolio5,
.icon_grid_portfolio6{
    background-position-x: center;
    background-position-y: center;
}


.grid_portfolio{
    background-size: cover;
}

.grid_portfolio_trans{

    text-align: center;
    /*hauteur par default des rubriques */
    line-height: 150px;
    background-color: hsl(0, 0%, 0%,0.15);
}

.grid_portfolio_trans:hover{
    background-color: hsl(210, 100%, 80%,0.0);
    transition: all 0.1s ease-in-out;
}

.grid_portfolio_trans a{
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: hsl(0, 0%, 0%,0.7);
    color: rgb(236, 236, 236);
    vertical-align: middle;
    line-height: normal;
    font-family:'Quicksand';
    font-size:25px;
    font-variation-settings: 'wght' 800;
    text-decoration: none;
    
}

.grid_portfolio_trans:hover a{
    background-color: hsl(0, 0%, 0%,0.9);
    color: white;
    transition: all 0.1s ease-in-out;
}

/*en fonction de la taille du viewport, on fait d'afficher la grille par 3,2 ou 1*/


@media only screen and (max-width: 600px) {
    .realisations_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
    .realisations_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 850px){
    .grid_portfolio_trans{
        line-height: 225px;
    }
}
