/*en fonction de la taille du viewport, on fait change la taille de la frame*/

.sketchfab-embed-wrapper iframe{
    border: none;
}

@media only screen and (max-width: 600px) {
    .sketchfab-embed-wrapper iframe{
        width: 100%;
        height: 300px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 850px) {
    .sketchfab-embed-wrapper iframe{
        min-width: 600px;
        height: 400px;
     }
}

@media only screen and (min-width: 850px){
    .sketchfab-embed-wrapper iframe{
        min-width: 800px;
        height: 500px;
    }

}
