*{
    margin: 0px;
    padding: 0px;
}


/* chose qui faut changer si redesign hauteur des header

.header_spacing_fix
.anchor_fix1

*/


/*COULEURS HEADER */
/*
base
https://coolors.co/ccdbdc-80ced7-63c7b2-8e6c88-263d42
*/
header,
.headerMOBILE{
    background-image: linear-gradient(260deg, #263d42 20%, #8e6c88 100%);
}

/*couleur du titre*/
.titlepolice,
.titlepoliceMOBILE{
    color: rgb(241, 241, 241);
}
.titlepolice:hover,
.titlepoliceMOBILE:hover{
    color: gold;
}

/*couleur liens droite*/
.header_right a,
.linksMOBILE{
    color: rgb(236, 236, 236);
}
.header_right a:hover,
.linksMOBILE:hover{
    color: white;
}
.current_page{
    color:rgb(177, 177, 177)!important;
}

/*couleur humburger*/
#hamburger_icon{
    color: gold;
}
/*couleur background #menu_deroulant*/
#menu_deroulant{
    background: #63c7b2;
}

/*FIN COULEURS HEADER*/

/*COULEURS FOOTER */
footer{
    background-color: red;
}
/*FIN COULEURS FOOTER*/




/*temporaire*/
/* fin temporaire*/


/*DEBUT HEADER */
/*Fonts du Header PC*/
.titlepolice{
    font-family:'Biysk';
    font-size: 30px;
    text-decoration: none;
}


.linksPC{
    font-family:'Quicksand';
    font-size:20px;
    font-variation-settings: 'wght' 800;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}


header{
    
    width: 100%;
    position: fixed;
    top: 0;


}

.header_spacing_fix{
    /*mettre une approximation de la hauteur du header PC*/
    height: 39px;
}

.header_used{
    max-width: 1600px;
    margin: auto;
}

.header_leftPC{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
}


/*NAVBAR PC*/
#navbarPC{
    float: right;
}

.header_right{
    display: inline-block;
    padding-right: 15px;
}

.header_right a{
    /*debug */
    /*
    background-color:yellow;
    */
    text-decoration: none;
    display: inline-block;
	
}


/*FIN NAVBAR PC*/





/*
HEADER MOBILE

*/

.titlepoliceMOBILE{
    font-family:'Biysk';
    font-size: 30px;
    text-decoration: none;
}

.headerMOBILE{
    display: none;
    /*debug*/
    /*background-color: chartreuse;
    */

    position: fixed;
    width: 100%;
    height: 40px;
}



.header_leftMOBILE{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.header_rightMOBILE{
    width: 175px;
    float: right;
}


.linksMOBILE{
    font-family:'Quicksand';
    font-size:20px;
    font-variation-settings: 'wght' 800;
    text-decoration: none; 
    min-width: 30px;
}



#hamburger_icon{
    font-size: 35px;
    float: right;
    padding-right: 15px;

}

/* On utilise une checkbox pour afficher le menu
J'aimerais ne plus jamais avoir à faire de menu comme ça*/

/* on cache la checkbox */
/* Checkbox Hack */

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


 /* Default State */
#menu_deroulant {

    text-align: left;
	display: none;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    }
 
 /* Toggled State */
 input[type=checkbox]:checked ~ nav #menu_deroulant{
    display: block;

 }
/*FIN header Mobile */

/*FIN HEADER */

/* fix des anchor sur PC */
.anchor_fix1{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}



/*FOOTER*/

footer{
    width: 100%;
}

.footer_used{
    background-color: darkgoldenrod;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
/*FIN FOOTER */



/*Maintenant le contenu de la page, dans CONTENT */

.content{
    max-width: 1440px;
    background-color: powderblue;
    margin: auto;
}

/* vu que j'ai tout changer les margin et padding, faut mettre ce code*/
.sommaire{
    padding-left: 1.5em;
    font-family:'Quicksand';
    font-size:20px;
    font-variation-settings: 'wght' 800;
}
.sommaire{
    padding-left: 1.5em;
    font-family:'Quicksand';
    font-size:20px;
    font-variation-settings: 'wght' 800;
}



/*une image responsive*/
.responsive1{
    width: 100%;
    height: auto;
}



/*div part of the page */
.partofpage{
    /*temporaire */
    min-height: 120px;
}

.partofpage h1,
.partofpage h2,
.partofpage h3,
.partofpage h4,
.partofpage h5,
.partofpage h6{
    margin-left: 15px;
    margin-right: 15px;

    font-family:'Quicksand';
    font-variation-settings: 'wght' 400;
}

.partofpage p,
.partofpage a{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;

    font-family:'Quicksand';
    font-variation-settings: 'wght' 450;
    font-size: large;
}

.link_classic{
    color: tomato;
    text-decoration: none;
    font-variation-settings: 'wght' 550;

}

/* accent color for part of the page */

.accent_color1{
    background-color: seagreen;
}

.accent_color2{
    background-color: red;
}

.accent_color3{
    background-color: blue;
}

.accent_color4{
    background-color: yellow;
}


/*en fonction de la taille du viewport, on fait en sorte d'afficher soit le header mobile, soit le PC*/
/*le footer change aussi*/

@media only screen and (max-width: 600px) {

    /*header ajustements*/

    header{
        position: relative;
    }

    .headerMOBILE {
        display: block;
    }
    .headerPC{
        display: none;
    }

    .header_spacing_fix{
        /*mettre une approximation de la hauteur du header PC*/
        height: 39px;
    }


    /*footer ajustements */

    .footer_links{
        width: 100%;
        display: block;
        text-align: center;
    }

    /*anchor ajustements */
    /* permet de pas cacher une ancre lorsqu'on
    y accede depuis le menu sur mobile encore deroulé
    (car on peut pas dechecker la checkebox pour cacher le menu deroulant une fois cliqué sur CV
    */
    .anchor_fix1{
        top: -130px;
    }

    .partofpage p,
    .partofpage a{
    margin-left: 10px;
    margin-right: 10px;
    }
    .partofpage h1,
    .partofpage h2,
    .partofpage h3,
    .partofpage h4,
    .partofpage h5,
    .partofpage h6{
        margin-left: 5px;
        margin-right: 5px;
    }


}
/*FIN AJUSTEMENTS RESPONSIVE */





